{% extends "base.html" %}
{% load store_filters %}
{% block content%}
<div class="jumbotron text-center admin-home mt-2">
  <h1>Admin Home</h1>
</div>

<div class="container" id="home" style="display:block">
  <div class="col d-flex justify-content-center">
    <div class="card m-3 mt-n3 rounded-lg admin-home-card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="book-solid.svg" alt="Card image cap"> -->
      <a class="admin-control" onclick="window.location.href='{% url 'store-adminmanagebooks'%}'">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Manage Books</h5>
          <p class="card-text text-center"><i class="fas fa-book fa-10x"></i></p>
        </div>
      </a>
    </div>

    <div class="card m-3 mt-n3 rounded-lg admin-home-card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="book-solid.svg" alt="Card image cap"> -->
      <a class="admin-control" onclick="window.location.href='{% url 'store-adminmanageusers'%}'">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Manage Users</h5>
          <p class="card-text text-center"><i class="fas fa-users fa-10x"></i></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col d-flex justify-content-center">

    <div class="card m-3 rounded-lg admin-home-card" style="width: 18rem;">
      <a class="admin-control onclick=" getElementById('searchbooks').style.display='none' ; getElementById('booklist').style.display='none' ; getElementById('editbook').style.display='none' ; ">
        <div class=" card-body">
        <h5 class="card-title text-center mb-3">Manage Promotions</h5>
        <p class="card-text text-center"><i class="fas fa-tags fa-10x"></i></p>
    </div>
    </a>
  </div>
</div>
</div>
{% endblock content %}
