{% extends "base.html" %}
{% block content%}
    <div class="mx-auto mt-3 book-details">
      <div class="container m-4">
        <div class="row">
          <div class="col-sm" style="text-align: center;">
            <div class="p-3 book-price-section">
              <p class="book-category"><i>verification success!</i></p>
              <hr>

              <p class="confirmation-text">
                Thank you for verifying your account! You may now login.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}
