{% extends "base.html" %}
{% block content%}
    <div class="mx-auto mt-3 book-details">
      <div class="container">
        <h1>Login</h1>
      </div>

      <div class="container m-4">
        <div class="row">
          <div class="col-sm" style="text-align: center;">
            <div class="p-3 book-price-section">
              <p class="book-category"><i>welcome</i></p>
              <hr>

              <form class="login-form">
                <div class="form-group">
                  <label for="userid">Account ID or email address<span class="register-required">*</span></label>
                  <input type="text" class="form-control" id="userid" aria-describedby="emailHelp" placeholder="Enter ID or email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password<span class="register-required">*</span></label>
                  <input type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="rememberme">
                  <label class="mb-3 form-check-label" for="rememberme">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
              </form>
              <p class="mt-3">Don't have an account? Create one here.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
