{% extends "base.html" %}
{% block content %}
         <div class="container mt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
            <div class="media-body ml-5">
               <h4 class="font-weight-bold mb-4">Jane Bishop</h4>
               <form class="form-horizontal" role="form">
               <div class="form-group" p id = "fn" style="display:block" >
                  <label class="col-lg-3 control-label">First name:</label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" value="Jane">
                  </div>
               </div>
               <div class="form-group" p id = "ln" style="display:block">
                  <label class="col-lg-3 control-label">Last name:</label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" value="Bishop">
                  </div>
               </div>
               <div class="form-group" p id = "email" style="display:block">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" value="janesemail@gmail.com">
                  </div>
               </div>
               <div class="form-group" p id = "un" style="display:block">
                  <label class="col-md-3 control-label">Username:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="janeuser">
                  </div>
               </div>
               <div class="form-group" p id = "ps" style="display:block">
                  <label class="col-md-3 control-label">Password:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="password" value="11111122333">
                  </div>
               </div>
               <div class="form-group" p id = "cps" style="display:block">
                  <label class="col-md-3 control-label">Confirm password:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="password" value="11111122333">
                  </div>
               </div>
               <div class="form-group" p id = "ccn" style="display:none" >
                  <label class="col-md-3 control-label">Card Number:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="1234544567">
                  </div>
               </div>
               <div class="form-group" p id = "cct" style="display:none" >
                 <label class="col-md-3 control-label">Card Type:</label>
                 <div class="col-md-8">
                   <select class="custom-select" id="cardTypeSelect">
                       <option selected>Select a card type</option>
                       <option value="1">Mastercard</option>
                       <option value="2">American Express</option>
                       <option value="3">Visa</option>
                       <option value="4">Discover</option>
                   </select>
                 </div>
               </div>
               <div class="form-group" p id = "cce" style="display:none" >
                  <label class="col-md-3 control-label">Card Expiration Date:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="11111122333">
                  </div>
               </div>
               <div class="form-group" p id = "sa" style="display:none" >
                  <label class="col-md-3 control-label">Street Address:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="123 Millburt Rd.">
                  </div>
               </div>
               <div class="form-group" p id = "city" style="display:none" >
                  <label class="col-md-3 control-label">City:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="Athens">
                  </div>
               </div>
               <div class="form-group" p id = "state" style="display:none" >
                  <label class="col-md-3 control-label">State:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="GA">
                  </div>
               </div>
               <div class="form-group" p id = "zip" style="display:none" >
                  <label class="col-md-3 control-label">Zipcode:</label>
                  <div class="col-md-8">
                     <input class="form-control" type="text" value="12345">
                  </div>
               </div>
               <script>
                  function toggleSettings() {
                    if (document.getElementById('fn').style.display == 'block') {
                      document.getElementById('ccn').style.display='block';
                      document.getElementById('cct').style.display='block';
                      document.getElementById('cce').style.display='block';
                      document.getElementById('sa').style.display='block';
                      document.getElementById('city').style.display='block';
                      document.getElementById('state').style.display='block';
                      document.getElementById('zip').style.display='block';
                      document.getElementById('fn').style.display='none';
                      document.getElementById('ln').style.display='none';
                      document.getElementById('email').style.display='none';
                      document.getElementById('un').style.display='none';
                      document.getElementById('ps').style.display='none';
                      document.getElementById('cps').style.display='none';
                      document.getElementById('editbtn').value="Edit Profile Settings";
                    } else {
                      document.getElementById('ccn').style.display='none';
                      document.getElementById('cct').style.display='none';
                      document.getElementById('cce').style.display='none';
                      document.getElementById('sa').style.display='none';
                      document.getElementById('city').style.display='none';
                      document.getElementById('state').style.display='none';
                      document.getElementById('zip').style.display='none';
                      document.getElementById('fn').style.display='block';
                      document.getElementById('ln').style.display='block';
                      document.getElementById('email').style.display='block';
                      document.getElementById('un').style.display='block';
                      document.getElementById('ps').style.display='block';
                      document.getElementById('cps').style.display='block';
                      document.getElementById('editbtn').value="Edit Payment & Shipping";
                    }
                  }
               </script>
               <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                     <input type="button" class="btn btn-primary" value="Save Changes">
                     <span></span>
                     <input type="button" id = 'editbtn' class="btn btn-primary" value="Edit Payment & Shipping"
                        onclick="toggleSettings()">
                     <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
               </div>
            </div>
            <hr class="m-0">
         </div>
      </div>
      </div>
      <!-- Content -->
{% endblock content %}
