{% extends "base_register.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mx-auto mt-3 book-details">
    <div class="container m-4">
        <div class="row">
            <div class="col-sm" style="text-align: center;">
                <div class="p-3 book-price-section">
                    <p class="book-category"><i>tell us about yourself</i></p>
                    <hr>
                    <div style="text-align: left;">
                        <form action="" method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ user_form | crispy }}
                                <h2 class="mt-2">Shipping Info</h2>
                                {{ store_form | crispy }}
                                <h2 class="mt-2">Billing Info</h2>
                                {{ payment_form | crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg ">Register</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">Already have an account?<a class="ml-2"
                                    href="{% url 'login' %}">Login!</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'store/js/register.js' %}"></script>
{% endblock javascript %}
