{% extends "base.html" %}
{% block content %}
    <div class="mx-auto mt-3 book-details">
      <div class="container">
        <h1>Order History</h1>
      </div>

      <div class="container m-4">
        <div class="row">
          <div class="col-sm" style="text-align: center;">
            <div class="p-3 book-price-section">
              <p class="book-category"><i>current orders</i></p>
              <hr>
              {% for order in current_orders %}
              <div class="p-3 mt-2 mb-2 history-item container">
                <div class="row">
                  <div class="col-sm">
                    <img src="{{ order.book.image.url }}" class="history-book-cover img-fluid " alt="Responsive image">
                  </div>
                  <div class="col-sm">
                    <p class="history-book-title"><b>{{ order.book.title }}</b></p>
                    <p class="history-date">Ordered on {{ order.date }}</p>
                    <p class="history-status"><b>Status:</b> {{ order.status }}</p>
                  </div>
                  <div class="col-sm">
                    <p class="book-price">${{ order.book.selling_price }}</p>
                    <button type="button" class="btn btn-primary btn-lg btn-block"><b>Reorder</b></button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {% if past_orders %}
      <div class="container m-4">
        <div class="row">
          <div class="col-sm" style="text-align: center;">
            <div class="p-3 book-price-section">
              <p class="book-category"><i>past orders</i></p>
              <hr>

              {% for order in past_orders %}
              <div class="p-3 mt-2 mb-2 history-item container">
                <div class="row">
                  <div class="col-sm">
                    <img src="{{ order.book.image.url }}" class="history-book-cover img-fluid " alt="Responsive image">
                  </div>
                  <div class="col-sm">
                    <p class="history-book-title"><b>{{ order.book.title }}</b></p>
                    <p class="history-status">Ordered on {{ order.date }}</p>
                  </div>
                  <div class="col-sm">
                    <p class="book-price">${{ order.book.selling_price }}</p>
                    <button type="button" class="btn btn-primary btn-lg btn-block"><b>Reorder</b></button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock content %}
