.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-success:active:focus
.btn-primary:visited,
.btn-primary:focus {
    background-color: #F7E107 !important;
    border-color: #F7E107 !important;
    color: black;
}

.card {
        margin: 10px; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        padding: 0px;
}
html, body {
             width: 100%;
             height: 100%;
             margin: 0;
             padding: 0;
             background-color: white;
         }
