.book-details {
  background-color: white;
  width: 1200px;
}

.book-cover {
  width: 300px;
}

.book-price-section {
  background-color: #ebebeb;
}

.book-price {
  color: #2C3C9E;
  font-size: 50px;
}

.book-category {
  color: #c4c4c4;
  font-size: 50px;
}

.book-publisher {
  color: #c4c4c4;
  font-size: 25px;
}

.book-summary {
  color: black;
  font-size: 14px;
  text-align: left;
}

.book-rating {
  font-size: 40px;
  color: lightgrey;
}

.book-rating-color {
  color: #F7E107;
}

.history-item {
  background-color: #f2f2f2;
}

.history-book-cover {
  width: 100px;
}

.history-book-title {
  font-size: 18px;
}

.history-status {
  font-size: 30px;
  color: #2C3C9E;
}

.history-date {
  font-size: 16px;
  color: #828282;
  margin-top: -15px;
}

.login-form {
  padding-left: 200px;
  padding-right: 200px;
}

.register-required {
  color: red;
}

.confirmation-text {
  font-size: 25px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-success:active:focus
.btn-primary:visited,
.btn-primary:focus {
    background-color: #F7E107 !important;
    border-color: #F7E107 !important;
    color: black;
}
