.navbar {
    padding: 20px;
    border-bottom: 1px solid gray;
}

.navbar .nav-item {
    font-size: large;
    border-left: solid lightgray;
}

.catalog {
    margin: 20px;
    padding: 20px;
}

.catalog > .card, #orderSummary > .card {
    max-width: 80%;
    margin: 10px 0px;
    padding: 10px;
}

#featuredBooksList {
    border-right: solid lightgray;
    padding-right: 60px;
}

#search {
    display: block;
    margin: 20px 0px;
    padding: 20px;
    border: solid lightgray;
}

#orderSummary, #paymentInfo, #shippingInfo {
    margin: 20px;
}

#orderDetails > .collapse, #orderDetails table {
    margin: 10px;
}

#checkoutBtn {
    margin-top: 40px;
}