.navbar {
    padding: 20px;
    border-bottom: 1px solid gray;
}

.navbar .nav-item {
    font-size: large;
    border-left: solid lightgray;
}

#search {
    display: block;
    margin: 20px 0px;
    padding: 20px;
    border: solid lightgray;
}

.carousel {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.carousel > h1 {
    text-align: center;
}

#orderSummary > .card {
    max-width: 80%;
    margin: 10px 0px;
    padding: 10px;
}

#orderSummary, #paymentInfo, #shippingInfo {
    margin: 20px;
}

#orderDetails > .collapse, #orderDetails table {
    margin: 10px;
}

#checkoutBtn {
    margin-top: 40px;
}